<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone1,1</key>
	<string>iPhone</string>
	<key>iPhone1,2</key>
	<string>iPhone 3G</string>
	<key>iPhone2,1</key>
	<string>iPhone 3GS</string>
	<key>iPhone3,1</key>
	<string>iPhone 4</string>
	<key>iPhone3,2</key>
	<string>iPhone 4</string>
	<key>iPhone3,3</key>
	<string>iPhone 4</string>
	<key>iPhone4,1</key>
	<string>iPhone 4S</string>
	<key>iPhone4,2</key>
	<string>iPhone 4S</string>
	<key>iPhone4,3</key>
	<string>iPhone 4S</string>
	<key>iPhone5,1</key>
	<string>iPhone 5</string>
	<key>iPhone5,2</key>
	<string>iPhone 5</string>
	<key>iPhone5,3</key>
	<string>iPhone 5C</string>
	<key>iPhone5,4</key>
	<string>iPhone 5C</string>
	<key>iPhone6,1</key>
	<string>iPhone 5S</string>
	<key>iPhone6,2</key>
	<string>iPhone 5S</string>
	<key>iPhone7,2</key>
	<string>iPhone 6</string>
	<key>iPhone7,1</key>
	<string>iPhone 6 Plus</string>
	<key>iPhone8,1</key>
	<string>iPhone 6S</string>
	<key>iPhone8,2</key>
	<string>iPhone 6S Plus</string>
	<key>iPhone8,4</key>
	<string>iPhone SE</string>
	<key>iPhone9,1</key>
	<string>iPhone 7</string>
	<key>iPhone9,3</key>
	<string>iPhone 7</string>
	<key>iPhone9,2</key>
	<string>iPhone 7 Plus</string>
	<key>iPhone9,4</key>
	<string>iPhone 7 Plus</string>
	<key>iPhone10,1</key>
	<string>iPhone 8</string>
	<key>iPhone10,4</key>
	<string>iPhone 8</string>
	<key>iPhone10,2</key>
	<string>iPhone 8 Plus</string>
	<key>iPhone10,5</key>
	<string>iPhone 8 Plus</string>
	<key>iPhone10,3</key>
	<string>iPhone X</string>
	<key>iPhone10,6</key>
	<string>iPhone X</string>
	<key>iPhone11,2</key>
	<string>iPhone Xs</string>
	<key>iPhone11,4</key>
	<string>iPhone Xs Max</string>
	<key>iPhone11,6</key>
	<string>iPhone Xs Max</string>
	<key>iPhone11,8</key>
	<string>iPhone Xʀ</string>
	<key>iPhone12,1</key>
	<string>iPhone 11</string>
	<key>iPhone12,3</key>
	<string>iPhone 11 Pro</string>
	<key>iPhone12,5</key>
	<string>iPhone 11 Pro Max</string>
	<key>iPhone12,8</key>
	<string>iPhone SE 2</string>
	<key>iPhone13,1</key>
	<string>iPhone 12 mini</string>
	<key>iPhone13,2</key>
	<string>iPhone 12</string>
	<key>iPhone13,3</key>
	<string>iPhone 12 Pro</string>
	<key>iPhone13,4</key>
	<string>iPhone 12 Pro Max</string>
</dict>
</plist>
